.card {
  border-radius: 1%;
  -webkit-box-shadow: 10px 10px 54px 12px rgba(211, 173, 81, 1);
  -moz-box-shadow: 10px 10px 54px 12px rgba(211, 173, 81, 1);
  box-shadow: 10px 10px 54px 12px rgba(211, 173, 81, 1);
  font-family: sans-serif;
}
